<%= render 'shared/errors', obj: @company %>

<div class='row'>
  <div class='container'>
  <div class='col-xs-12'>
    <%= form_for(@company, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
              <%= f.label :company_name, "Company Name" %>
        </div>
        <div class="col-sm-8">
              <%= f.text_field :company_name, class: "form-control", placeholder: "Enter Company Name" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
              <%= f.label :company_url, "Company URL"%>
         </div>
         <div class="col-sm-8">
              <%= f.text_field :company_url, class: "form-control", placeholder: "Enter Refering URL" %>
         </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit(@company.new_record? ? "Register" : "Update Company", class: 'btn btn-primary btn-square') %>
        </div>
      </div>
      <% end %>

        <div class="col-xs-4 col-xs-offset-4">
         [ <%= link_to "Back to application listing", apps_path %> ]
       </div>

     </div>
   </div>
 </div>
