
<div class='row'>
  <div class='container'>
    <div class='top-btn-group'>
      <div class='col-xs-3'>
        <%= button_to "Add New", new_app_path, :id => "add-app-btn",
            :class => "btn btn-info btn-round", :method => :get %>
       </div>
       <div class='col-xs-3 col-xs-offset-6'>
       <%= button_to "Download CSV", apps_path(format: "csv"), :id => "add-app-btn",
            :class => "btn btn-success btn-round", :method => :get %>
        <!---<%= link_to "Excel(coming soon)", apps_path(format: "xls") %> --->
       </div>
    </div>
  </div>


  </div>

  <div class='container'>
  <% provide(:title, 'All Applications') %>

  <table class="table table-hover table-striped">
     <thead>
       <tr>
        <th>Application</th>
        <th>Latency</th>
        <th>Jitter</th>
        <th>Packet Drop</th>
        <th>Bandwidth</th>
        <th>Remarks</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
       </tr>
     </thead>

      <tbody>
      <% obj.each do |app| %>
         <tr>
              <td><%= app.app_name %></td>
              <td><%= app.req_latency %> ms</td>
              <td><%= app.req_jitter %> ms </td>
              <td><%= app.req_packet_drop %> %</td>
              <td><%= app.req_bw %> Kbps</td>
              <td><%= app.remarks %></td>
              <% if logged_in? && (current_user == app.user) || current_user.admin? %>
              <td><%= link_to 'View', app_path(app) %></td>
              <td><%= link_to "Edit" , edit_app_path(app) %></td>
              <% end %>

              <% if logged_in? && current_user.admin? %>
              <td><%= link_to 'Delete', app_path(app), method: :delete, data: {confirm: "Are you sure?"} %></td>
              <% end %>
         </tr>
       <% end %>
       
        </tbody>
      </table>

      <% if current_user.admin? %>
        <h2>Import App File</h2>
        <%= form_tag({controller: "apps", action: "import", method: "post"}, {multipart: true}) do %>
          <%= file_field_tag :file %>
          <%= submit_tag "import file" %>
        <% end %>
      <% end %>

  </div>

</div>
