<h1>listing all apps</h1>

<% provide(:title, 'All Applications') %>

<p>Application Search</p>
<%= form_tag(apps_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


<p>
<%= link_to "Add new Application", new_app_path %>
</p>

<table class="table">
 <thead>
   <tr>
    <th>Application</th>
    <th>Latency</th>
    <th>Jitter</th>
    <th>Packet_drop</th>
    <th>Bandwidth</th>
    <th>Remarks</th>
   </tr>
 </thead>

<% @apps.each do |app| %>
<tbody>
   <tr>
        <td><%= app.app_name %></td>
        <td><%= app.req_latency %> ms</td>
        <td><%= app.req_jitter %> ms </td>
        <td><%= app.req_packet_drop %> %</td>
        <td><%= app.req_bw %> Kbps</td>
        <td><%= app.remarks %></td>
        <td><%= link_to "Edit" , edit_app_path(app) %></td>
        <td><%= link_to 'Show', app_path(app) %></td>
        <td><%= link_to 'Delete', app_path(app), method: :delete, data: {confirm: "Are you sure?"} %></td>
   </tr>
 </tbody>
 <% end %>
</table>


<h2>Import App File</h2>
<%= form_tag({controller: "apps", action: "import", method: "post"}, {multipart: true}) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "import file" %>
<% end %>
