
<div class='img-container'>
  <div class="container">
    <div class="row">
      <p></p>
      <div class="col-md-4 col-md-offset-4">
            <h2 class="center"><span style ='color: #444'>Application Details</span> </h2>
            <p></p>
            <h2 class="center"><strong><span style='color: #444'><%= @app.app_name %></span></strong></h2>
      </div>

      <div class="col-md-4">
      <ul class="app-meta-details">
          <li>added by: </li>
            <li><%= link_to gravatar_for(@app.user), user_path(@app.user) %></li>
            <li class="app-title">
            <%= link_to @app.user.username, user_path(@app.user) %>
            </li>
            <li>
              Createed: <%= time_ago_in_words(@app.created_at) %> ago
            </li>
            <li>
              Last Updated: <%= time_ago_in_words(@app.updated_at) %> ago </small>
            </li>

      </ul>
      </div>
    </div>
   <hr>

    <div class="row">
      <h2 align="center">
          <span style='color: #444'>Network Recommendation Parameter</span>
      </h2>
      <p></p>

      <div class="col-xs-3">
        <h3 style="text-align: center">
          <span class="label label-default">Latency(ms)</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
            <span class="label label-default"><%= @app.req_latency %> ms</span>
        </h3>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
            <span class="label label-default">Jitter (ms)</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
              <span class="label label-default"><%= @app.req_jitter %> ms</span>
        </h3>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
            <span class="label label-default">Packet Drop(%)</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
            <span class="label label-default"><%= @app.req_packet_drop %> % </span>
        </h3>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
            <span class="label label-default">Bandwidth</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
              <span class="label label-default"><%= @app.req_bw %> Kbps </span>
        </h3>
      </div>
    </div>


   <hr>
   <p></p>
  <h2 class="center"><span style='color: #444'>Remarks</span></h2>
    <div class="well"><%= simple_format(@app.remarks) %></div>

   <hr>
   <% if logged_in? && (current_user == @app.user) || !current_user.admin? %>
    <div class="article-actions">
    <%= link_to "Edit this app", edit_app_path(@app), class: "btn btn-primary btn-square" %>
    <%= link_to "Delete this app", app_path(@app), method: :delete,
                                          data: {confirm: "it will be permanently deleted"},
                                          class: "btn btn-danger btn-square" %>

    <% end %>
    <%= link_to "View All app", apps_path, class: "btn btn-success btn-square" %>
    </div>
  </div>
</div>
