
<div class='img-container'>
  <div class="container">
    <div class="row">
      <p></p>
      <h3 class="center"><span style ='color: #444'>Application Details</span>
      </h2>
      <p></p>
      <h2 class="center"><strong><span style='color: #444'><%= @app.app_name %></span></strong></h2>

      <div class="app-meta-details">
        <small>Created by: <%= @app.user.username if @app.user%> </small>,
                <%= time_ago_in_words(@app.created_at) %> ago,
                last updated: <%= time_ago_in_words(@app.updated_at) %> ago </small>
      </div>
     <hr>

    </div>


    <div class="row">
      <h2 align="center">
          <span style='color: #444'>Network Recommendation Parameter</span>
      </h2>
      <p></p>

      <div class="col-xs-3">
        <h3 style="text-align: center">
          <span class="label label-default">Latency(ms)</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
            <span class="label label-default"><%= @app.req_latency %> ms</span>
        </h3>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
            <span class="label label-default">Jitter (ms)</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
              <span class="label label-default"><%= @app.req_jitter %> ms</span>
        </h3>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
            <span class="label label-default">Packet Drop(%)</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
            <span class="label label-default"><%= @app.req_packet_drop %> % </span>
        </h3>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
            <span class="label label-default">Bandwidth</span>
          <p><br></p>
        </h3>

        <h3 style="text-align: center">
              <span class="label label-default"><%= @app.req_bw %> Kbps </span>
        </h3>
      </div>

    </div>


<!---
<dl class="row">
   <h4 align="center">Network Requirements</h4>
   <dt class="col-xs-4 text-right">Latency(ms):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_latency %> </dd>

   <dt class="col-xs-4 text-right">Jitter(ms):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_jitter %> </dd>
   <dt class="col-xs-4 text-right">Packet Drop(%):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_packet_drop %> </dd>
   <dt class="col-xs-4 text-right">Bandwidth(kbps):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_bw %> </dd>
</dl>
--->

   <hr>
   <p></p>
  <h2 class="center"><span style='color: #444'>Remarks</span></h2>
    <div class="well"><%= simple_format(@app.remarks) %></div>

   <hr>
    <div class="article-actions">
    <%= link_to "Edit this app", edit_app_path(@app), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this app", app_path(@app), method: :delete,
                                          data: {confirm: "it will be permanently deleted"},
                                          class: "btn btn-xs btn-danger" %>

    <%= link_to "Back to App Listing", apps_path, class: "btn btn-xs btn-success" %>
    </div>
  </div>
  </div>
</div>
