<div class="container">

  <div class="row">
    <h2 align="center">
        <span style='color: #222'>Application Details</span>
    </h2>
    <p></p>
  <h3 class="center"><strong><span style='color: #444'><%= @app.app_name %></span></strong></h3>
  <hr>
  <p><br></p>

    <div class="row">
      <div class="col-xs-3">
        <h3 style="text-align: center">
          <span style='color: #444'>Latency(ms)</span>
          <p><br></p>
        </h3>

        <h4 style="text-align: center">
            <span style='color: #444'><%= @app.req_latency %></span>
        </h4>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
          <span style='color: #444'>Jitter(ms)</span>
          <p><br></p>
        </h3>

        <h4 style="text-align: center">
            <span style='color: #444'><%= @app.req_jitter %></span>
        </h4>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
          <span style='color: #444'>Packet Drop(%)</span>
          <p><br></p>
        </h3>

        <h4 style="text-align: center">
            <span style='color: #444'><%= @app.req_packet_drop %></span>
        </h4>
      </div>

      <div class="col-xs-3">
        <h3 style="text-align: center">
          <span style='color: #444'>Bandwidth</span>
          <p><br></p>
        </h3>

        <h4 style="text-align: center">
            <span style='color: #444'><%= @app.req_bw %></span>
        </h4>
      </div>

    </div>


<!---
<dl class="row">
   <h4 align="center">Network Requirements</h4>
   <dt class="col-xs-4 text-right">Latency(ms):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_latency %> </dd>

   <dt class="col-xs-4 text-right">Jitter(ms):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_jitter %> </dd>
   <dt class="col-xs-4 text-right">Packet Drop(%):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_packet_drop %> </dd>
   <dt class="col-xs-4 text-right">Bandwidth(kbps):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_bw %> </dd>
</dl>
--->

 <hr>
 <p></p>
<h3 class="center"><strong><span style='color: #444'>Remarks</span></strong></h3>
<p><br></p>

  <div class="well"><%= simple_format(@app.remarks) %></div>

 <hr>
  <div class="article-actions">
  <%= link_to "Edit this app", edit_app_path(@app), class: "btn btn-xs btn-primary" %>
  <%= link_to "Delete this app", app_path(@app), method: :delete,
                                        data: {confirm: "it will be permanently deleted"},
                                        class: "btn btn-xs btn-danger" %>

  <%= link_to "Back to App Listing", apps_path, class: "btn btn-xs btn-success" %>
  </div>
</div>

</div>
